body {
  margin: 0 auto;
  padding: 15px;
  font-family: "Raleway", sans-serif;
  background: url("../images/background2.jpeg") fixed no-repeat;
  background-size: cover;
  background-position: 0 100%;
  max-width: 1600px; }

.btn-menu {
  list-style-type: none;
  padding: 0;
  margin: 20px 0; }
  .btn-menu li {
    width: 100px;
    line-height: 30px;
    display: inline-block;
    margin-right: 7px;
    cursor: pointer;
    background-color: #2980b9;
    border: none; }
    .btn-menu li:hover {
      background-color: #fff; }
      .btn-menu li:hover a {
        color: #2980b9; }
    .btn-menu li a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500; }

header {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px; }
  header .hamburger-menu {
    visibility: hidden;
    list-style-type: none;
    padding: 0; }
    header .hamburger-menu .cross {
      font-size: 555px; }
    header .hamburger-menu li {
      border: 1px solid #4d6b07;
      line-height: 30px;
      width: 150px;
      display: block;
      cursor: pointer;
      background-color: #2980b9; }
      header .hamburger-menu li:hover {
        background-color: #fff; }
        header .hamburger-menu li:hover a {
          color: #2980b9; }
      header .hamburger-menu li a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 500; }
  header .hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .hero h4 {
      font-size: 3vh;
      color: #fff;
      font-weight: 700; }
    header .hero .mordeczka {
      height: 30vh;
      border: 2px solid #000;
      margin-bottom: 5px; }
    header .hero #CV {
      margin-top: 100px;
      background-color: #e74c3c;
      color: #fff;
      border: none;
      width: 100px;
      line-height: 30px;
      font-weight: 700;
      transition: .5s; }
      header .hero #CV:hover {
        transform: scale(1.2); }
  header h1 {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 6vh; }
  header h4 {
    margin: 35px 0; }

.aboutme {
  margin: 10% auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 7% 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .aboutme h1 {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 4vh;
    font-weight: 700; }
  .aboutme .text-about {
    padding: 10px 5vw; }
  .aboutme .about-container {
    background: rgba(204, 204, 204, 0.7);
    border-radius: 15px; }

.skills {
  margin: 10% auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 7% 5%;
  color: #fff; }
  .skills h1 {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold; }
  .skills .row {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(204, 204, 204, 0.5);
    padding: 2% 0 1% 0;
    border-radius: 15px;
    margin-bottom: 25px;
    display: block; }
    .skills .row .icon {
      max-height: 75px;
      margin-bottom: 50px;
      transition: .5s; }
      .skills .row .icon:hover {
        transform: scale(1.1); }
    .skills .row .icon-mern,
    .skills .row .icon-mongo {
      opacity: 0.2;
      position: relative; }
      .skills .row .icon-mern:hover,
      .skills .row .icon-mongo:hover {
        transform: scale(1); }
  .skills .not-yet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
    visibility: visible; }

.portfolio {
  margin: 10% auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 7% 5%; }
  .portfolio .photo-container {
    position: relative; }
  .portfolio [class*="col-"] .photo-container:hover .layer {
    visibility: visible; }
  .portfolio .layer {
    color: #fff;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden; }
    .portfolio .layer a {
      margin: 0 6%;
      font-size: 2em;
      color: #fff;
      padding: 0 5px;
      border-radius: 10px; }
      .portfolio .layer a:hover {
        background-color: #fff;
        color: #000; }
  .portfolio h1 {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold; }
  .portfolio .row {
    background: rgba(204, 204, 204, 0.5);
    padding: 2% 0 1% 0;
    margin-bottom: 2vh;
    border-radius: 15px; }
    .portfolio .row h3 {
      color: #2c3e50;
      text-transform: uppercase;
      font-weight: 700; }
    .portfolio .row p {
      font-size: 15px;
      padding: 0 5vw;
      color: #fff;
      font-weight: 700; }
  .portfolio .photo {
    width: 100%;
    height: 35vh; }

footer {
  margin: 10% auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: 0;
  margin-bottom: -15px;
  color: white; }
  footer .social-media {
    font-size: 25px;
    margin: 0 30px; }
    footer .social-media .fa:hover {
      transition: 1s;
      transform: scale(1.3); }
  footer .fa-heart {
    color: red; }
  footer h1 {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold; }
  footer .shadow {
    visibility: hidden; }

@media (max-width: 575px) {
  .btn-menu {
    display: none; }
  #CV {
    display: none; }
  header .hamburger-menu {
    visibility: visible; }
    header .hamburger-menu #hamburger,
    header .hamburger-menu #cross {
      border-top-left-radius: 10px; }
  .aboutme .text-about {
    padding: 15px 25px; } }

@media (min-width: 576px) and (max-width: 991px) {
  .skills .row {
    display: inline-block; }
    .skills .row .icon {
      margin: 15px 0; }
    .skills .row .icon-html5 {
      margin-top: 25px; } }

@media (max-width: 991px) {
  .skills .row .icon-html5 {
    margin-top: 25px; }
  .portfolio .layer {
    margin-top: 15px; }
  .portfolio .row {
    padding: 0; }
    .portfolio .row .photo {
      margin-top: 15px; }
  footer {
    text-align: center; }
    footer .copyright {
      margin-top: 15px; }
    footer .social-media {
      margin: 0; } }

/*# sourceMappingURL=style.css.map */