//CONFIGS //

@mixin h1-config
	text-transform: uppercase
	color: $white
	font-weight: bold
	
@mixin center-config
	display: flex
	justify-content: center
	align-items: center

@mixin bg-config
	margin: 18% auto
	background: $bg-style
	border-radius: 20px

//VARIABLES //

$bg-style: rgba(1, 45, 65, 0.8)
$white: #DAECF3
$background-row: #DAECF3
body
	margin: 0 auto
	padding: 15px
	font-family: "Raleway", sans-serif
	background: $background-row
	max-width: 1600px
.scrollbar
    height: 1.8vh;
    width: 0%;
    background-color: #FF404E;
    transition: .5s linear;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
.comeback
    position: fixed;
    top: 83%;
    right: 2%;
    font-size: 50px;
    border-radius: 30px;
    color: #FF404E;
    border: none;
    opacity: 0;
    transition: .3s ease-in-out;
    
.btn-menu
	list-style-type: none
	padding: 0
	margin: 20px 0
	li
		width: 100px
		line-height: 30px
		display: inline-block
		margin-right: 7px
		cursor: pointer
		background-color: #1BA5B8
		border: none
		&:hover
			background-color: $white
			a
				color: #1BA5B8
		a
			color: $white
			text-decoration: none
			text-transform: uppercase
			font-weight: 500

//HEADER SECTION //
header
	background-color: $bg-style
	border-radius: 20px
	.hamburger-menu
		visibility: hidden
		list-style-type: none
		padding: 0
		.cross
			font-size: 555px

		li
			border: 1px solid #012D41
			line-height: 30px
			width: 150px
			display: block
			&:hover
				background-color: $white
				a
					color: #1BA5B8
				
			
			cursor: pointer
			background-color: #1BA5B8
			a
				color: $white
				text-decoration: none
				text-transform: uppercase
				font-weight: 500
	.hero
		height: 100vh
		@include center-config
		h4
			font-size: 3vh
			color: $white
			font-weight: 700
		.mordeczka
			height: 30vh
			border: 2px solid #000
			margin-bottom: 5px
		.cv
			display: inline-block
			margin-top: 100px
			background-color: #FF404E
			color: $white
			border: none
			line-height: 30px
			font-weight: 700
			transition: .5s
			width: 100px
			height: 30px
			text-decoration: none
			&:hover
				transform: scale(1.2)
	h1
		@include h1-config
		font-size: 6vh

	h4
		margin: 35px 0

//ABOUT ME SECTIOn //
.aboutme
	@include bg-config
	padding: 7% 0
	@include center-config
	h1
		@include h1-config
		font-size: 4vh
		font-weight: 700
	.text-about
		padding: 10px 2vw
	.about-container
		background: #DAECF3
		border-radius: 15px

//SKILLS SECTION //
.skills
	@include bg-config
	padding: 7% 5%
	color: $white


	h1
		@include h1-config
	.row
		@include center-config
		background: $background-row
		padding: 2% 0 1% 0
		border-radius: 15px
		margin-bottom: 25px
		display: block
		.icon 
			max-height: 75px
			margin-bottom: 50px
			transition: .5s
		.icon-mern,
		.icon-mongo
			opacity: 0.2
			position: relative
			&:hover
				transform: scale(1)
	.not-yet
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		color: black
		font-weight: bolder
		text-transform: uppercase
		visibility: visible

//PORTFOLIO SECTION //
.portfolio
	@include bg-config
	padding: 7% 5%
	.photo-container
		position: relative
		
	[class*="col-"]
		.photo-container
			&:hover
				.layer
					visibility: visible
	.layer
		color: #fff
		position: absolute
		top: 0
		background: rgba(0, 0, 0, .8)
		width: 90%
		left: 5%
		height: 30vh
		@include center-config
		visibility: hidden

		a
			margin: 0 6%
			font-size: 2em
			color: $white
			padding: 0 5px
			border-radius: 10px
			&:hover
				background-color: $white
				color: #000

	h1
		@include h1-config
	.row
		background: $background-row
		padding: 2% 0 1% 0
		margin-bottom: 2vh
		border-radius: 15px
		h3
			color: #2c3e50
			text-transform: uppercase
			font-weight: 700
		p
			font-size: 15px
			padding: 0 5vw
			color: #012D41
			font-weight: 700
	.photo
		width: 90%
		height: 30vh

//FOOTER SECTION
footer
	@include bg-config
	margin: 0
	margin-bottom: -15px
	color: white
	.social-media
		font-size: 25px
		margin: 0 30px
		.fa
		
			&:hover
				transition: 1s
				transform: scale(1.1)
				color: $white
	.fa-heart
		color: red
	h1
		@include h1-config
	.shadow
		visibility: hidden

@media (max-width: 575px)
	.btn-menu
		display: none
	.cv
		position: absolute !important
		top: -9999px !important
		left: -9999px !important
	header
		.hamburger-menu
			visibility: visible
			#hamburger, 
			#cross
				border-top-left-radius: 10px
				background-color: $white
			#cross
			display: inline-block
				
	.aboutme
		.text-about
			padding: 15px 25px
@media(min-width: 576px) and (max-width: 991px)
	.skills
		.row
			display: inline-block
			.icon
				margin: 15px 0
			.icon-html5
				margin-top: 25px
@media(max-width: 991px)
	.skills
		.row
			.icon
			.icon-html5
				margin-top: 25px
	.portfolio
		.photo-container
			
		.layer
			margin-top: 15px
			width: 75%
			left: 12.5%
		.row
			padding: 0
			.photo
				width: 75%
				margin-top: 15px
	footer
		text-align: center
		.copyright
			margin-top: 15px
		.social-media
			margin: 0
@media (max-width: 575px)
    .comeback
        font-size: 35px;